---
import { Image } from "astro:assets";
import { Button } from "@/components/ui/button.tsx"
import { Search, Mail, Bell, ShoppingCart,Smartphone } from "lucide-react";
import { getSession } from 'auth-astro/server';
import UserProfileDesktop from "@/components/desktop/navbar/UserProfileDesktop.astro"
const session = await getSession(Astro.request);
---

<header class="max-w-full w-full flex flex-col h-full">
  <div class="w-full bg-slate-100">
    <div class="px-5 py-2.5 text-slate-500 w-full flex items-center justify-between">
      <a href="/" class="text-sm inline-flex items-center"><Smartphone className="size-4 mr-2" />Download Tokopedia App</a>
      <div class="flex items-center gap-x-5 text-sm">
        <a href="/">Tentang Tokopedia</a>
        <a href="/">Mitra Tokopedia</a>
        <a href="/">Pusat Edukasi Seller</a>
        <a href="/">Promo</a>
        <a href="/">Tokopedia Care</a>
      </div>
    </div>
  </div>
  <div class="max-w-full px-5 w-full h-full bg-white">
    <nav class="w-full h-full flex gap-x-8">
      <div class="w-fit flex items-center overflow-hidden -mt-5 gap-x-10">
        <a href="/">
        <Image src="https://images.tokopedia.net/assets-tokopedia-lite/v2/zeus/production/e5b8438b.svg" class="w-full h-full" alt="tokopedia logo" width={200} height={100} loading="lazy" />
        </a>
        <p>Kategori</p>
      </div>
      <div class="w-fit flex items-center h-full">
        <div class="w-full h-full flex flex-wrap sm:justify-start text-sm items-center pt-3">
          <div class="max-w-md w-full mx-auto">
            <div class="flex items-center w-full">
              <div class="relative mr-5">
                <input type="search" class="peer py-3 px-3 ps-11 block w-full border border-gray-300 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="Cari di Tokopedia">
                <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-4 peer-disabled:opacity-50 peer-disabled:pointer-events-none">
                <Search className="shrink-0 size-5 text-gray-500" />
                </div>
              </div>
              <div class="flex items-center mx-5 gap-x-4">
                <a href=""><Mail className="size-6" /><span class="sr-only">to mail pages</span></a>
                <a href=""><Bell className="size-6" /><span class="sr-only">to notif pages</span></a>
                <a href=""><ShoppingCart className="size-6" /><span class="sr-only">to notif pages</span></a>
              </div>
            </div>
            <div class="flex flex-row items-end gap-5 overflow-x-auto sm:justify-start sm:pb-0 sm:overflow-x-visible mt-4">
              <a class="nav_links" href="#" aria-current="page">Lampu Gantung</a>
              <a class="nav_links" href="#">Kursi Lipat</a>
              <a class="nav_links" href="#">Beras Porang</a>
              <a class="nav_links" href="#">Lampu Led</a>
              <a class="nav_links" href="#">Samsung A52</a>
              <a class="nav_links" href="#">SSD 512GB</a>
            </div>
          </div>
        </div>
      </div>
      <div class="w-fit flex items-start h-full gap-x-5 mt-4">
        {session ? (
          <UserProfileDesktop />
        ) : (
          <Button className="w-full bg-green-500">
            <a href="/login">Masuk</a>
          </Button>
          <Button variant="outline" className="w-full text-green-500">
            Daftar
          </Button>
        )}
      </div>
    </nav>
  </div>
</header>
