---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/main-components/Container.astro";

---

<Layout title="Dasboard">
  <Container class="mt-14">
    <h1>Welcome</h1>
    <p>We are happy to see you here</p>
    <form>
      <button type="submit">Sign out</button>
    </form>
    <a href="/">Back</a>
  </Container>
</Layout>