---
import BaseLayout from "@/layouts/Layout.astro";
import Container from "@/components/main-components/Container.astro";

---

<BaseLayout>
  <Container>
    <button id="login">Login</button>

    <script>
      const { signIn } = await import("auth-astro/client")
      document.querySelector("#login").onclick = () => signIn("github", { callbackUrl: "/" })
    </script>
  </Container>
</BaseLayout>