---
import { Search, Mail,Bell, ShoppingCart, AlignJustify, X, ArrowLeft} from 'lucide-react';

import { getSession } from 'auth-astro/server';
import { Button } from "@/components/ui/button.tsx";
import { ListNavbar } from "@/components/mobile/navbar/list-navbar.jsx";

import UserProfile from "@/components/mobile/navbar/UserProfile.astro";

import { Image } from "astro:assets";

const { isHaveSearch } = Astro.props;
const session = await getSession(Astro.request);
---

<div class="max-w-full w-full h-fit flex justify-between items-center gap-x-5 px-3 py-2">
  {isHaveSearch ? (
    <div class="relative">
      <input type="email" class="peer py-2 px-2 ps-11 block w-full border border-gray-300 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none" placeholder="Cari di Tokopedia">
      <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none ps-4 peer-disabled:opacity-50 peer-disabled:pointer-events-none">
        <Search className="shrink-0 size-4 text-gray-500" />
      </div>
  </div>
  ): (
    <div class="flex justify-between items-center gap-x-2">
      <a class="ml-2" href="/"><ArrowLeft className="size-5" /><span class="sr-only">back to homepage</span></a>
      <h3 class="font-bold">Akun Utama</h3>
    </div>
  )}
  <div class="flex justify-between items-center gap-x-4">
    {isHaveSearch ? (
      <a href=""><Mail className="size-5" /><span class="sr-only">to mail pages</span></a>
      <a href=""><Bell className="size-5" /><span class="sr-only">to notif pages</span></a>
      <a href="/cart"><ShoppingCart className="size-5" /><span class="sr-only">to notif pages</span></a>
    ): null}
    <div>
      <Button type="button" variant="link" size="sm" className="px-0" aria-haspopup="dialog" aria-expanded="false" aria-controls="hs-offcanvas-bottom" data-hs-overlay="#hs-offcanvas-bottom"
            >
         <AlignJustify className="size-5" />{" "}
         <span class="sr-only">open drawer</span>
      </Button>
      <div id="hs-offcanvas-bottom" class="hs-overlay flex flex-col overflow-y-scroll hs-overlay-open:translate-y-0 bg-slate-200 translate-y-full fixed bottom-0 inset-x-0 transition-all duration-300 transform max-h-full size-full z-[80] bg-white border-b hidden" role="dialog" tabIndex="-1" aria-labelledby="hs-offcanvas-bottom-label">
        <div class="flex justify-start items-center py-3 sticky top-0 left-0 right-0 px-4 border-b bg-white z-50">
          <Button type="button" variant="link" className="p-0 mr-3" aria-label="Close" data-hs-overlay="#hs-offcanvas-bottom">
              <span class="sr-only">Close</span>
              <X className="size-5" />
          </Button>
          <h3 id="hs-offcanvas-bottom-label" class="font-bold text-gray-800">
                  Menu Utama
          </h3>
        </div>
        <div class="p-4 w-full flex flex-row justify-between items-center bg-white gap-4">
            {session ? (
              <UserProfile />
            ) : (
              <Button className="w-full bg-green-500">
                <a href="/login">Masuk</a>
              </Button>
              <Button variant="outline" className="w-full text-green-500">
                Daftar
              </Button>
            )}
        </div>
        <div class="flex flex-col p-4 bg-white mt-2.5">
          <ListNavbar start={0} end={4} />
        </div>
        <div class="flex flex-col p-4 bg-white mt-2.5 h-full">
          <ListNavbar start={4} end={7} />
        </div>
      </div>
    </div>
  </div>
</div>