---
import { User, Settings, ChevronRight } from "lucide-react";

import { getSession } from 'auth-astro/server';
import { Image } from "astro:assets";
const session = await getSession(Astro.request);
---

<section class="max-w-full w-full">
  <div class="flex w-full justify-between items-center gap-x-4">
    <div class="flex items-center space-x-3">
      <Image class="w-14 rounded-full" src={session.user?.image} loading="lazy" width={100} height={100} alt="user" />
      <article>
        <h2 class="font-bold inline-flex items-center text-lg"><User className="size-4 mr-1" />{session.user?.name}</h2>
        <figure class="flex items-center space-x-1">
          <Image class="w-4" src="/assets/icon/gopay.svg" alt="gopay" loading="lazy" width={100} height={100} />
          <p class="text-sm">GoPay & GoPay Coins Belum Aktif</p>
        </figure>
        <figure class="flex items-center space-x-1">
          <Image class="w-4" src="/assets/icon/saldo_icon.svg" alt="gopay" loading="lazy" width={100} height={100} />
          <p class="text-sm">Saldo Rp.0</p>
        </figure>
      </article>
    </div>
    <a class="end-0" href={`/user-profile/${session.user?.name}`}><Settings className="size-5" /><span class="sr-only">open settings</span></a>
  </div>
  <div class="w-full flex justify-between items-center border border-slate-300 w-full px-2 rounded-lg mt-3.5">
    <div class="flex justify-start items-center space-x-5">
      <Image class="w-12" src="/assets/icon/gratis-ongkir.png" alt="plus ongkir" loading="lazy" width={100} height={100} />
      <article class="text-sm">
        <p class="font-semibold">Nikmatin Bebas Ongkir tanpa batas!</p>
        <p class="text-slate-500 text-xs">Min. belanja Rp0, bebas biaya aplikasi~</p>
      </article>
    </div>
    <a class="end-0" href="/"><ChevronRight className="size-5" /><span class="sr-only">open feature</span></a>
  </div>
  <div class="w-full flex justify-between items-center gap-x-2">
    <a class="mt-2 border border-x-slate-300 flex justify-between w-full items-center p-2 rounded-lg">
      <p class="font-semibold text-sm">Buka Toko</p>
      <ChevronRight className="size-5" />
    </a>
    <a class="mt-2 border border-slate-300 flex justify-between w-full items-center p-2 rounded-lg">
      <p class="font-semibold text-sm">Daftar Affiliate</p>
      <ChevronRight className="size-5" />
    </a>
  </div>
</section>