---
import { User, Settings, ChevronRight, House, Database, CreditCard, Lock, BellRing, LogOut } from "lucide-react";

import Container from "@/components/main-components/Container.astro";
import Accordion from "@/components/preline-ui/accordion.astro";

import { Image } from "astro:assets";
import { getSession } from 'auth-astro/server';
const { username } = Astro.request;

const session = await getSession(Astro.request);
if (!session) return Astro.redirect("/");

---

<Container class="bg-slate-100">
    <div class="flex w-full justify-between items-center gap-x-4">
      <div class="flex items-center space-x-3">
        <Image class="w-16 rounded-full" src={session.user?.image} loading="lazy" width={100} height={100} alt="user" />
        <article>
          <h2 class="font-bold inline-flex items-center text-md">{session.user?.name}</h2>
          <p class="text-sm text-slate-500">6289763953412</p>
          <p class="text-sm text-slate-500">{session.user.email}</p>
        </article>
      </div>
      <a class="end-0" href={`/user-profile/${session.user?.name}`}><Settings className="size-5" /><span class="sr-only">open settings</span></a>
    </div>
    <div class="w-full flex justify-between items-center border bg-white border-slate-300 w-full px-2 rounded-lg mt-3.5">
      <div class="flex justify-start items-center space-x-5">
        <Image class="w-12" src="/assets/icon/gratis-ongkir.png" alt="plus ongkir" loading="lazy" width={100} height={100} />
        <article class="text-sm">
          <p class="font-semibold">Nikmatin Bebas Ongkir tanpa batas!</p>
          <p class="text-slate-500 text-xs">Min. belanja Rp0, bebas biaya aplikasi~</p>
      </article>
    </div>
    <a class="end-0" href="/"><ChevronRight className="size-5" /><span class="sr-only">open feature</span></a>
    </div>
    <div class="mt-3.5">
      <div class="w-full flex justify-between items-center">
        <h3 class="font-bold">Saldo & Points</h3>
        <a class="text-sm text-green-500" href="/">Lihat semua</a>
      </div>
      <div class="mt-3.5 w-full h-full flex justify-between items-center gap-x-5 px-5 border border-slate-300 bg-white rounded-lg py-2 shadow-md">
        <figure>
          <Image class="w-7 mx-auto" src="/assets/icon/gopay.svg" alt="gopay icon" loading="lazy" width={100} height={100} />
          <article class="text-center mt-1">
            <p class="text-green-500 text-sm font-semibold">Aktifkan</p>
            <p class="text-xs">GoPay & Coins</p>
          </article>
        </figure>
        <figure>
          <Image class="w-7 mx-auto" src="/assets/icon/qr_code.png" alt="gopay icon" loading="lazy" width={100} height={100} />
          <article class="text-center mt-1">
            <p class="text-green-500 text-sm font-semibold">Daftar Sekarang</p>
            <p class="text-xs">Tokopedia Card</p>
          </article>
        </figure>
        <figure>
          <Image class="w-7 mx-auto" src="/assets/icon/saldo_icon.svg" alt="gopay icon" loading="lazy" width={100} height={100} />
          <article class="text-center mt-1">
            <p class="text-sm font-semibold">Rp. 0</p>
            <p class="text-xs">Saldo Tokopedia</p>
          </article>
        </figure>
      </div>
    </div>
  </Container>
  <Container class="bg-white">
    <h3 class="font-bold">Pengaturan Akun</h3>
    <div class="mt-3.5 flex flex-col items-start gap-3.5">
      <a class="inline-flex items-center gap-x-2" href="/">
        <House className="size-5" />
        <div>
          <p class="font-semibold">Daftar Alamat</p>
          <p class="text-sm text-slate-500">Atur alamat pengiriman belanjaan</p>
        </div>
      </a>
      <a class="inline-flex items-center gap-x-2" href="/">
        <Database className="size-5" />
        <div>
          <p class="font-semibold">Rekening Bank</p>
          <p class="text-sm text-slate-500">Tarik Saldo Tokopedia ke rekening tujuan</p>
        </div>
      </a>
      <a class="inline-flex items-center gap-x-2" href="/">
        <CreditCard className="size-5" />
        <div>
          <p class="font-semibold">Pembayaran Instan</p>
          <p class="text-sm text-slate-500">E-Wallet, kartu kredit, & debit instan terdaftar</p>
        </div>
      </a>
      <a class="inline-flex items-center gap-x-2" href="/">
        <Lock className="size-5" />
        <div>
          <p class="font-semibold">Keamanan Akun</p>
          <p class="text-sm text-slate-500">Kata sandi, PIN , & verifikasi data diri</p>
        </div>
      <a class="inline-flex items-center gap-x-2" href="/">
        <BellRing className="size-5" />
        <div>
          <p class="font-semibold">Notifikasi</p>
          <p class="text-sm text-slate-500">Atur segala jenis pesan notifikasi</p>
        </div>
      </a>
    </div>
  </Container>
  <Container class="bg-white mt-2">
    <Accordion Trigger="Pengaturan Aplikasi">
      <a class="inline-flex items-center gap-x-2 pt-2" href="/">
        <House className="size-5" />
        <div>
          <p class="font-semibold">Kualitas Gambar</p>
          <p class="text-sm text-slate-500">Atur kualitas gambar yang dilihat</p>
        </div>
      </a>
    </Accordion>
  </Container>
  <Container class="bg-white mt-2">
    <Accordion Trigger="Seputar Tokopedia">
      <span>halo</span>
    </Accordion>
  </Container>