---
import Layout from '@/layouts/Layout.astro';
import Container from "@/components/main-components/Container.astro";
import Header from "@/components/main-components/Header.astro";
---

<Layout>
  <Header />
	<Container>
	  <h1>Container</h1>
	</Container>
</Layout>
