---
import Layout from '@/layouts/Layout.astro';
import Container from "@/components/main-components/Container.astro";
import MainHeader from "@/components/main-components/MainHeader.astro";
import { getSession } from 'auth-astro/server';

const session = await getSession(Astro.request);
---

<Layout>
  <MainHeader haveSearch={true} />
	<Container>
	  {session ? (
	    <p>Welcome {session.user?.name}</p>
	  ) : (
	    <h1>Your not logged in</h1>
	  )}
	</Container>
</Layout>
