---
import Layout from "../../layouts/Layout.astro";
import Container from "../../components/main-components/Container.astro"
import { UserProfile } from '@clerk/astro/components'
---

<Layout title="User Profile">
  <Container class="mt-14 max-w-full flex justify-center items-center">
    <UserProfile>
      <UserProfile.Page label="Custom Page" url="custom-page">
        <svg
          slot="label-icon"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          fill="currentColor"
        >
          <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"></path>
        </svg>
        <div>
          <h1>Custom Profile Page</h1>
          <p>This is the custom profile page</p>
        </div>
      </UserProfile.Page>
    </UserProfile>
  </Container>
</Layout>